In [2]:
'''
Write a Python program that prints "Hello, World!" to the console.

'''
print("Hello World")

Hello World

In [1]:
'''
Declare a variable x with the value 10. Assign another variable y with the string "Python". Print both values along with their types.
'''
x=10
y="Python"
print(x)
print(type(x))
print(y)
print(type(y))

10
<class 'int'>
Python
<class 'str'>

In [3]:
'''
Create a list of five numbers. Write a Python program to find the sum and average of all numbers in the list.

'''
List_num=[1,2,3,4,5]
sum_list=sum(List_num)
avg=sum_list/len(List_num)
print("Sum of the list: ", sum_list)
print("Avg: ", avg)

Sum of the list:  15
Avg:  3.0

In [5]:
'''
Write a Python program that takes two numbers as input and prints their sum, difference, product, and quotient.

'''
a=int(input("Enter number 1: "))
b=int(input("Enter number 2: "))
sum_num=a+b
diff=a-b
prod=a*b
quot=a/b
print("sum: ",sum_num)
print("difference: ",diff)
print("product: ",prod)
print("quotient: ",quot)

Enter number 1: 10
Enter number 2: 30
sum:  40
difference:  -20
product:  300
quotient:  0.3333333333333333

In [6]:
'''
Given name = "Alice" and age = 25, use different string formatting techniques (%, .format(), and f-strings) to print "Alice is 25 years old."

'''
name = "Alice"
age = 25
# % operator
print("%s is %d years old." % (name, age))
# .format() method
print("{name} is {age} years old.".format(name=name, age=age))
# f-strings
print(f"{name} is {age} years old.")

Alice is 25 years old.
Alice is 25 years old.
Alice is 25 years old.

In [9]:
'''
Write a Python program that takes a string as input and:
Converts it to uppercase and lowercase.
Counts the number of vowels in the string.
Reverses the string.
'''
str_input=input("Enter a string: ")
#Uppercase
print(str_input.upper())
#Lowercase
print(str_input.lower())
#number of vowels
vowels="aeiouAEIOU"
vo_count=sum(1 for char in str_input if char in vowels)
print(vo_count)
#reverse
reversed_text = str_input[::-1]
print(reversed_text)

Enter a string: Hello World
HELLO WORLD
hello world
3
dlroW olleH

In [10]:
number = int(input("Enter a number: "))
if number % 2 == 0:
  print("The number is even.")
else:
  print("The number is odd.")

Enter a number: 9
The number is odd.

In [11]:
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [14]:
n = int (input ("Enter a number: "))
factorial = 1
if n >= 1:
  for i in range (1, n+1):
    factorial = factorial *i
print ("Factorial of the given number is: ", factorial)

Enter a number: 6
Factorial of the given number is:  720

In [15]:
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def display_info(self):
        print(f"Car details: {self.brand} {self.model}, {self.year}")

# Create a car object
my_car = Car("Toyota", "Camry", 2020)

# Call the display_info method
my_car.display_info()

Car details: Toyota Camry, 2020

In [16]:
student_scores = {"Alice": 85, "Bob": 92, "Charlie": 78}

# Print all keys and values
print("Student Scores:")
for name, score in student_scores.items():
    print(f"{name}: {score}")

# Find the highest score
highest_score = max(student_scores.values())
print(f"Highest score: {highest_score}")

Student Scores:
Alice: 85
Bob: 92
Charlie: 78
Highest score: 92

In [ ]:
import math

def calculate_square_root_and_factorial(number):
  """Calculates the square root and factorial of a number.

  Args:
    number: The number to calculate the square root and factorial of.

  Returns:
    A tuple containing the square root and factorial of the number.
  """

  if number < 0:
    raise ValueError("Cannot calculate square root or factorial of a negative number.")

  square_root = math.sqrt(number)
  factorial = math.factorial(number)
  return square_root, factorial

if __name__ == "__main__":
  try:
    num = int(input("Enter a non-negative number: "))
    sqrt_result, factorial_result = calculate_square_root_and_factorial(num)
    print(f"The square root of {num} is: {sqrt_result}")
    print(f"The factorial of {num} is: {factorial_result}")
  except ValueError as e:
    print(f"Error: {e}")

In [17]:
import math
number=10
square_root = math.sqrt(number)
factorial = math.factorial(number)
print(square_root)
print(factorial)

3.1622776601683795
3628800

In [ ]:
name = input("What is your name? ")
age = int(input("How old are you? "))  # Convert input to integer

print(f"Hello {name}, you are {age} years old!")